.chats_header {
  display: flex;
  padding: 8px;
}

.chats_header_menu_button {
  background-image: svg('../icons/menu_svg.svg', (path: (fill: $icon_gray_color)));
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  outline: none;
  width: 44px;
  height: 44px;
}

.chats_header_menu_button[hidden] {
  visibility: hidden;
}

.chats_header_menu {
  width: 218px;
}

.chats_header_menu_badge {
  background-color: #C4C9CC;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin-right: 16px;
  text-align: center;
  width: 24px;
}

.chats_header_menu_item,
.settings_main_menu_list .mdc-list-item {
  background-position: 18px center;
  background-repeat: no-repeat;
  background-size: 22px;
  padding-left: 72px;
}

.chats_header_menu_item-new_group {
  background-image: svg('../icons/newgroup_svg.svg', (path: (fill: $icon_gray_color)));
}

.chats_header_menu_item-contacts {
  background-image: svg('../icons/newprivate_svg.svg', (path: (fill: $icon_gray_color)));
}

.chats_header_menu_item-archived {
  background-image: svg('../icons/archive_svg.svg', (path: (fill: $icon_gray_color)));
}

.chats_header_menu_item-saved {
  background-image: svg('../icons/savedmessages_svg.svg', (path: (fill: $icon_gray_color)));
}

.chats_header_menu_item-settings {
  background-image: svg('../icons/settings_svg.svg', (path: (fill: $icon_gray_color)));
}

.chats_header_menu_item-help {
  background-image: svg('../icons/help_svg.svg', (path: (fill: $icon_gray_color)));
}

.chats_header_menu_item:hover {
  background-color: #F1F3F4;
  cursor: pointer;
}

.chats_sidebar,
.contacts_sidebar,
.global_search_sidebar {
  box-sizing: border-box;
  width: 420px;
  padding: 8px;
  border-right: 1px solid #DADCE0;
  overflow-y: auto;
  overflow-x: hidden;
}

.chats_item,
.contacts_item,
.messages_search_results_item {
  margin: 2px 0;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.chats_item_content,
.contacts_item_content,
.messages_search_results_item_content {
  display: flex;
  flex-direction: row;
  height: 54px;
  padding: 9px;
  border-radius: 5px;
}

.chats_item_message_author_label {
  color: #000;
}

.chats_item-selected {
  background: #F4F4F5;
}

.chats_item_pinned + .chats_item:not(.chats_item_pinned) {
  margin-top: 13px;
}

.chats_item_pinned + .chats_item:not(.chats_item_pinned)::before {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: -7px;
  border-top: 1px solid #DADCE0;
}

.chats_item_photo,
.contacts_item_photo,
.messages_search_results_item_photo {
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #eee;
  position: relative;
}

.chats_item_photo-online:before {
  content: '';
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 10px;
  height: 10px;
  background-color: #53C24A;
  border: 2px solid #fff;
  border-radius: 50%;
}

.chats_item_photo_saved_messages {
  background-color: #5DA3EF;
  background-image: svg('../icons/savedmessages_svg.svg', (path: (fill: white)));
  background-repeat: no-repeat;
  background-position: center;
}

.chats_item_text_row,
.contacts_item_text_row,
.messages_search_results_item_text_row {
  display: flex;
}

.chats_item_text,
.contacts_item_text,
.messages_search_results_item_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  width: 100%;
}

.chats_item_title,
.contacts_item_title,
.messages_search_results_item_title {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.chats_item_date,
.messages_search_results_item_date {
  color: #676B70;
  font-size: 12px;
}

.chats_item_badge {
  margin-top: -5px;
  margin-right: -3px;
}
.chats_item_badge-unread {
  box-sizing: border-box;
  height: 24px;
  min-width: 24px;
  line-height: 24px;
  border-radius: 12px;
  padding: 0 8px;
  margin-left: 5px;
  background-color: #6DC96B;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.chats_item_badge-unread_muted {
  background-color: #C5C9CC;
}

.chats_item_badge-pinned {
  float: right;;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #C5C9CC svg('../icons/pinnedchat_svg.svg', (path: (fill: white))) no-repeat center;
  margin-left: 5px;
}

.chats_item_message,
.contacts_item_status,
.messages_search_results_item_message {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #717579;
  min-height: 17px;
}
