.left_sidebar {
  //border-right: 1px solid #E0E3E6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 420px;
}

.settings_sidebar,
.archived_chats_sidebar {
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.archived_chats_list {
  padding: 8px;
  .mobile_view & {
    padding: 0;
  }
}

.settings_menu_header {
  display: flex;
  padding: 8px 8px 0;
}

.settings_extra_menu_item-log_out {
  background-image: svg('../icons/logout_svg.svg', (path: (fill: $icon_gray_color)));
  background-position: 18px center;
  background-repeat: no-repeat;
  background-size: 22px;
  padding-left: 72px;
}

.sidebar_extra_menu_list {
  width: 172px;
}

.settings_main_menu_item-edit {
  background-image: svg('../icons/edit_svg.svg', (path: (fill: $icon_gray_color)));
}

.settings_main_menu_item-folders {
  background-image: svg('../icons/folder.svg', (path: (fill: $icon_gray_color)));
}

.settings_main_menu_item-general {
  background-image: svg('../icons/settings_svg.svg', (path: (fill: $icon_gray_color)));
}

.settings_main_menu_item-notifications {
  background-image: svg('../icons/unmute_svg.svg', (path: (fill: $icon_gray_color)));
}

.settings_main_menu_item-privacy {
  background-image: svg('../icons/lock_svg.svg', (path: (fill: $icon_gray_color)));
}

.settings_main_menu_item-language {
  background-image: svg('../icons/language_svg.svg', (path: (fill: $icon_gray_color)));
}

.global_search_sidebar {
  padding: 0;
}

.global_search_sublist {
  padding: 12px 8px;
  border-bottom: 1px solid $border_gray_color;
}
.global_search_sublist:last-child,
.global_search_sublist-people,
.global_search_sublist-recent {
  border-bottom: 0;
}

.global_search_sublist_header {
  color: #717579;
  background-color: #fff;
  font-weight: 500;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.global_search_people_list {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 -14px;
  padding: 8px 0;
}

.global_search_people_item {
  display: inline-block;
  width: 82px;
  text-align: center;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.global_search_people_item_photo {
  width: 54px;
  height: 54px;
  margin: 0 auto;
  border-radius: 50%;
}

.global_search_people_item_name {
  margin-top: 7px;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.global_search_sublist_header_clear {
  float: right;
  margin: -11px 0;
  background: svg('../icons/close_svg.svg', (path: (fill: $secondary_gray_color))) no-repeat center;
}
