@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

.left_sidebar {
  border-right: 1px solid #E0E3E6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 420px;
}

.main_menu {
  display: flex;
  height: 46px;
  padding: 8px;
}

.left_sidebar_menu_button {
  background-image: url('../icons/menu_svg.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 14px;
  outline: none;
}

.left_sidebar_menu_button[hidden] {
  visibility: hidden;
}

.main_menu_list {
  width: 218px;
}

.main_menu_badge {
  background-color: #C4C9CC;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin-right: 16px;
  text-align: center;
  width: 24px;
}

.main_menu_list .mdc-list-item,
.settings_main_menu_list .mdc-list-item {
  background-position: 18px center;
  background-repeat: no-repeat;
  background-size: 22px;
  padding-left: 72px;
}

.main_menu_item-new_group {
  background-image: url('../icons/newgroup_svg_gray.svg');
}

.main_menu_item-contacts {
  background-image: url('../icons/newprivate_svg_gray.svg');
}

.main_menu_item-archived {
  background-image: url('../icons/archive_svg_gray.svg');
}

.main_menu_item-saved {
  background-image: url('../icons/savedmessages_svg_gray.svg');
}

.main_menu_item-settings {
  background-image: url('../icons/settings_svg_gray.svg');
}

.main_menu_item-help {
  background-image: url('../icons/help_svg_gray.svg');
}

.main_menu_item:hover {
  background-color: #F1F3F4;
  cursor: pointer;
}

.left_sidebar_search {
  background-color: #F4F4F5;
  background-image: url('../icons/search_svg_light_gray.svg');
  background-position: 12px center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50px;
  display: inline-block;
  flex-basis: 100%;
  font: inherit;
  height: 44px;
  outline: none;
  padding-left: 42px;
}
.left_sidebar_search::placeholder {
  color: #8E969B;
}
