//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
//$mdc-typography-font-family: unquote("Roboto, sans-serif");
$mdc-theme-primary: #329BEE;
$mdc-theme-secondary: #018786;
$mdc-theme-error: #D7483F;
$mdc-theme-on-primary: #ffffff;
$mdc-shape-small-component-radius: 10px;
//$mdc-shape-medium-component-radius: 10px;
//$mdc-shape-large-component-radius: 20px;

@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/snackbar/mdc-snackbar";
@import "@material/ripple/mdc-ripple";

@import "login";
@import "chats";
@import "left_sidebar";
@import "messages";
@import "media_view";
@import "emoji_dropdown";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.3;
}

a {
  color: #4891E6;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

pre {
  margin: 0;
}

.main_container {
  max-width: 1680px;
  display: grid;
  grid-template: auto / auto 1fr;
}

.lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46px;
  height: 46px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  border: 4px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5DA3EF transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



