@import "vars";

.media_view {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity .2s;
  &[hidden] {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  .mobile_view & {
    background: #000;
  }
}

.media_view_header {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  .mobile_view & {
    background: rgba(0, 0, 0, .5);
  }
}

.media_view_author {
  display: flex;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
}

.media_view_author_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media_view_author_photo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  .mobile_view & {
    display: none;
  }
}

.media_view_author_name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 3px;
}

.media_view_mobile_close_button {
  background: svg('../icons/close_svg.svg', (path: (fill: white))) no-repeat center;
  width: 44px;
  height: 44px;
  margin: 6px 0 6px 6px;
  border-radius: 50%;
  opacity: 0.5;
  display: none;
  .mobile_view & {
    display: block;
  }
}

.media_view_actions {
  display: flex;
  padding: 6px 9px;
  margin-left: auto;
}

.media_view_actions_item {
  background: transparent no-repeat center;
  width: 44px;
  height: 44px;
  margin: 0 2px;
  border-radius: 50%;
  opacity: 0.5;
  .mobile_view & {
    display: none;
  }
  &:hover {
    opacity: 1;
  }
}

.media_view_actions_item-delete {
  background-image: svg('../icons/delete_svg.svg', (path: (fill: white)));
}

.media_view_actions_item-forward {
  background-image: svg('../icons/forward_svg.svg', (path: (fill: white)));
}

.media_view_actions_item-download {
  background-image: svg('../icons/download_svg.svg', (path: (fill: white)));
}

.media_view_actions_item-close {
  background-image: svg('../icons/close_svg.svg', (path: (fill: white)));
}

.media_view_actions_item-more {
  background-image: svg('../icons/more_svg.svg', (path: (fill: white)));
  display: none;
  .mobile_view & {
    display: block;
  }
}

.media_view_content {
  box-sizing: border-box;
  padding: 126px 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: transform .2s;
  .mobile_view & {
    padding: 0;
  }
}
.media_view[hidden] .media_view_content {
  transform: scale(0.7);
}

.media_view_caption {
  position: absolute;
  z-index: 1;
  top: calc(100% - 126px);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .mobile_view & {
    background: rgba(0, 0, 0, .5);
    top: calc(100% - 86px);
  }
  &:empty {
    display: none;
  }
}

.media_view_caption_text {
  --line-height: 18px;
  --max-lines: 5;
  line-height: var(--line-height);
  max-height: calc(var(--line-height) * var(--max-lines));
  padding: 10px 10px 0;
  max-width: 720px;
  text-align: center;
  color: #fff;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  &:hover {
    opacity: 1;
  }
  .mobile_view & {
    --max-lines: 3;
  }
}

.media_view_content_image,
.media_view_content_gif,
.media_view_content_video {
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  min-width: min(300px, 100%);
  min-height: min(300px, 100%);
  object-fit: contain;
  outline: none;
  background: #000;
}

.media_view_actions_menu_item {
  padding-left: 73px;
  padding-right: 30px;
  background: no-repeat 16px center;
  &-forward {
    background-image: svg('../icons/forward_svg.svg', (path: (fill: $secondary_gray_color)));
  }
  &-download {
    background-image: svg('../icons/download_svg.svg', (path: (fill: $secondary_gray_color)));
  }
  &-delete {
    background-image: svg('../icons/delete_svg.svg', (path: (fill: $error_red_color)));
    color: $error_red_color;
  }
}

.media_view_nav_left,
.media_view_nav_right {
  position: absolute;
  width: min(200px, 30%);
  height: 100%;
  top: 0;
  opacity: .5;
  transition: opacity .2s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  .mobile_view & {
    width: 40px;
  }
}

.media_view_nav_left {
  left: 0;
  background: svg('../icons/back_svg.svg', (path: (fill: white))) no-repeat center;
}

.media_view_nav_right {
  right: 0;
  background: svg('../icons/next_svg.svg', (path: (fill: white))) no-repeat center;
}
