.media_view {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity .2s;
}
.media_view[hidden] {
  display: block;
  visibility: hidden;
  opacity: 0;
}

.media_view_author {
  position: absolute;
  z-index: 1;
  display: flex;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
}

.media_view_author_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media_view_author_photo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  .mobile_view & {
    display: none;
  }
}

.media_view_author_name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 3px;
}

.media_view_controls {
  position: absolute;
  top: 8px;
  right: 12px;
  display: flex;
  z-index: 1;
}

.media_view_controls_item {
  background: transparent no-repeat center;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  margin: 0 2px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.media_view_controls_item:hover {
  opacity: 1;
}

.media_view_controls_item-delete {
  background-image: svg('../icons/delete_svg.svg', (path: (fill: white)));
}

.media_view_controls_item-forward {
  background-image: svg('../icons/forward_svg.svg', (path: (fill: white)));
}

.media_view_controls_item-download {
  background-image: svg('../icons/download_svg.svg', (path: (fill: white)));
}

.media_view_controls_item-close {
  background-image: svg('../icons/close_svg.svg', (path: (fill: white)));
}

.media_view_content {
  box-sizing: border-box;
  padding: 126px 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: transform .2s;
  .mobile_view & {
    padding: 0;
  }
}
.media_view[hidden] .media_view_content {
  transform: scale(0.7);
}

.media_view_content_image,
.media_view_content_gif,
.media_view_content_video {
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  outline: none;
}
