.messages_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  //background: #E7EBEE;
  background: #91b087 center;
  background-size: cover;
}

.messages_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 60px;
  padding: 0 18px;
  border-bottom: 1px solid #E0E3E6;
  background: #fff;
}
.messages_header[hidden] {
  display: none;
}

.messages_header_peer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.messages_header_peer_photo {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #F4F4F5;
  background-size: cover;
}
.messages_header_peer_description {
  margin-left: 16px;
}
.messages_header_peer_name {
  font-size: 16px;
  font-weight: 500;
}
.messages_header_peer_status {
  height: 16px;
  font-size: 13px;
  color: #787B7F;
}
.messages_header_peer_status-online {
  color: #458FE5;
}

.messages_header_action_search {
  margin-left: 10px;
  width: 44px;
  height: 44px;
  background: url('../icons/search_svg.svg') no-repeat center;
  border-radius: 50%;
  overflow: hidden;
}

.messages_header_actions {
  white-space: nowrap;
}

.messages_header_action_more {
  margin-left: 10px;
  width: 44px;
  height: 44px;
  background: url('../icons/more_svg.svg') no-repeat center;
  border-radius: 50%;
  overflow: hidden;
}

.messages_scroll {
  height: 100%;
  overflow: auto;
  transform: translateZ(0);
}

.messages_list {
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  align-content: end;
  max-width: 740px;
  margin: 0 auto;
  padding: 25px 20px;
  box-sizing: border-box;
}

.messages_pending_list {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-content: end;
  max-width: 740px;
  padding: 0 20px 25px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: -25px;
}

.messages_item {
  display: flex;
  max-width: 600px;
  background: #fff;
  padding: 6px 10px;
  margin: 5px 0;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  //filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
  overflow: hidden;
  position: relative;
}

.messages_item-out {
  background: #F1FEE1;
  margin-left: auto;
  border-radius: 10px 10px 0 10px;
}

.messages_item-out a {
  color: #65AB5A;
}

.messages_item-stick-to-next {
  margin-bottom: -1px;
}

.messages_item-stick-to-next:not(.messages_item-out) {
  border-bottom-left-radius: 5px;
}
.messages_item-stick-to-prev:not(.messages_item-out) {
  border-top-left-radius: 5px;
}

.messages_item-out.messages_item-stick-to-next {
  border-bottom-right-radius: 5px;
}
.messages_item-out.messages_item-stick-to-prev {
  border-top-right-radius: 5px;
}

.messages_item-type-date,
.messages_item-type-service {
  background: rgba(0, 0, 0, .3);
  color: #fff;
  margin: 4px auto;
  padding: 0 7px;
  height: 24px;
  box-sizing: border-box;
  line-height: 24px;
  border-radius: 14px;
  font-weight: 500;
}

.messages_item_author {
  font-weight: 500;
}

.messages_item_author:after {
  content: '\A';
  white-space: pre;
}

.messages_item_content {
  width: 100%;
  line-height: 1.3;
}

.messages_item_content pre {
  white-space: pre-wrap;
}

.messages_item_media_thumb {
  margin: -6px -10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.messages_item_media_thumb-photo,
.messages_item_media_thumb-video,
.messages_item_media_thumb-gif {
  background: #efefef;
  cursor: pointer;
}
.messages_item_media_thumb-video::after,
.messages_item_media_thumb-gif::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-left: -27px;
  margin-top: -27px;
  background: rgba(0, 0, 0, .6) url('../icons/largeplay_svg_white.svg') no-repeat center;
  border-radius: 50%;
}
.messages_item_media_thumb-loading::after {
  display: none;
}
.messages_item_media_thumb_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.messages_item_media_thumb_image-blurred {
  filter: blur(10px);
}
.messages_item_media_thumb + .messages_item_date {
  position: absolute;
  z-index: 1;
  right: 4px;
  bottom: 3px;
  background: rgba(0,0,0,.3);
  color: #fff !important;
  padding: 1px 5px;
  border-radius: 10px;
  text-decoration: none !important;
}
.webpage .messages_item_media_thumb {
  margin: 0 0 5px;
}
.messages_item_author + .messages_item_media_thumb {
  margin-top: 5px;
}
.messages_item_media_caption {
  margin: 20px -10px 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.messages_item_date {
  font-size: 12px;
  color: #aaa;
  float: right;
  position: relative;
  right: -4px;
  bottom: -4px;
  margin-left: 6px;
  cursor: default;
}
.messages_item_date:hover {
  text-decoration: underline;
}

.messages_item-out .messages_item_date {
  color: #65AB5A;
}


.webpage {
  border-left: 2px solid #41A0EA;
  padding-left: 8px;
  margin-top: 5px;
  margin-bottom: -13px;
}
.messages_item-out .webpage {
  border-color: #65AB5A;
}

.wepbage_site_name {
  font-weight: 500;
}

.wepbage_title {
  font-weight: 500;
  margin-top: 3px;
}

.webpage_description {
  margin-top: 3px;
}

.messages_item_text_emoji_big {
  font-size: 3em;
}

.messages_item_text + .document {
  margin-top: 10px;
}

.document {
  display: flex;
  align-items: center;
  margin-bottom: -13px;
}

.document_icon {
  width: 54px;
  height: 54px;
  background: #5DA3EF url('../icons/download_svg.svg') no-repeat center;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.messages_item-out .document_icon {
  background-color: #65AB5A;
}

.document_filename {
  font-weight: 500;
}

.document_size {
  color: #74787C;
}


.messages_placeholder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 165px;
  background: url('../icons/chatsplaceholder_svg.svg') no-repeat top center;
  filter: drop-shadow(0 2px 3px rgba(0,0,0,.15))
}

.messages_placeholder_title {
  //color: #717579;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.messages_placeholder_actions {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 45px;
}

.messages_placeholder_action {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #fff no-repeat center;
  //color: #717579
  color: #fff;
}
.messages_placeholder_action:hover {
  background-color: #5DA3EF;
  //color: #5DA3EF;
}
.messages_placeholder_action_label {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  padding-top: 45px;
  font-size: 14px;
}
.messages_placeholder_action-private {
  background-image: url('../icons/newprivate_svg.svg');
}
.messages_placeholder_action-private:hover {
  background-image: url('../icons/newprivate_white_svg.svg');
}
.messages_placeholder_action-group {
  background-image: url('../icons/newgroup_svg.svg');
}
.messages_placeholder_action-group:hover {
  background-image: url('../icons/newgroup_white_svg.svg');
}
.messages_placeholder_action-channel {
  background-image: url('../icons/newchannel_svg.svg');
}
.messages_placeholder_action-channel:hover {
  background-image: url('../icons/newchannel_white_svg.svg');
}

.messages_footer {
  padding: 10px 0 20px;
}

.messages_item_media_progress {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-left: -27px;
  margin-top: -27px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5) url('../icons/close2_svg_white.svg') no-repeat center;
}

.messages_item_media_progress_svg {
  animation: spin 1s infinite linear;
}

.messages_item_media_progress_path {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 3, 100;
  transition: stroke-dasharray 0.4s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
