.messages_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  //background: #E7EBEE;
  background: #91b087 center;
  background-size: cover;
}

.messages_bg_image {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('../img/bg.jpg') center;
  background-size: cover;
  filter: blur(10px);
}

.messages_scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(0);
  transition: transform .2s, width .2s step-start, padding-left .2s step-start;
  .right_offset & {
    transform: translateX(var(--right-offset-translateX));
    padding-left: calc(-1 * var(--right-offset-translateX));
    width: calc(100vw - 420px * 2);
  }
}

.messages_scroll-scrolling {
  mask-image: linear-gradient(to top, transparent 5px, #000 15px);
}

.messages_footer {
  transition: transform .2s, width .2s step-start, padding-left .2s step-start;
  .right_offset & {
    transform: translateX(var(--right-offset-translateX));
    padding-left: calc(-1 * var(--right-offset-translateX));
    width: calc(100vw - 420px * 2);
  }
}

.messages_list {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 740px;
  margin: 0 auto;
  padding: 50px 20px 5px;
  box-sizing: border-box;
  .mobile_view & {
    padding: 50px 12px 5px;
  }
}

.messages_empty_placeholder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.messages_group-date,
.messages_group-author {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}


.messages_group-author {
  position: relative;
}

.messages_group_tail {
  display: none;
  position: absolute;
  bottom: 5px;
  width: 7px;
  height: 17px;
  margin-left: -7px;
  background: svg('../icons/bubble_tail_left.svg', (path: (fill: white))) no-repeat center;
  &:last-of-type { // last <a> is author photo
    display: block;
  }
  .message-type-service + &,
  .message-type-sticker + &,
  .message-type-emoji + &,
  .message-has-thumb:not(.message-has-caption) + & {
    display: none;
  }
}

.messages_group_tail-out {
  left: auto;
  right: 0;
  margin-right: -7px;
  background: svg('../icons/bubble_tail_right.svg', (path: (fill: #F1FEE1))) no-repeat center;
}

.messages_group-author-with-photo {
  position: relative;
  padding-left: 45px;
}

.messages_group_author_photo {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #eee;
  text-decoration: none !important;
}

.messages_pending_list {
  display: flex;
  flex-direction: column;
  max-width: 740px;
  padding: 0 20px 10px;
  margin: -5px auto 0;
  box-sizing: border-box;
}

.message {
  display: flex;
  max-width: calc(100% - 50px);
  background: #fff;
  padding: 6px 10px;
  margin: 5px 0;
  margin-right: auto;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none;
  &:after { // highlight
    content: '';
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(84, 162, 175, 0.3);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s, visibility 3s;
  }
}
.message-has-thumb:not(.message-has-caption) {
  border-bottom-left-radius: 10px;
}

.message-wiggle {
  animation: wiggle .2s;
  @keyframes wiggle {
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
  }
}

.message-highlighted:after {
  transition: none;
  visibility: visible;
  opacity: 1;
}

.message-out {
  background: #F1FEE1;
  margin-right: 0;
  margin-left: auto;
  border-radius: 10px 10px 0 10px;
  a {
    color: #65AB5A;
  }
}
.message-has-thumb:not(.message-has-caption) {
  border-bottom-right-radius: 10px;
}

.ios_safari .message-has-thumb {
  transform: translateZ(0);
}

.message-stick-to-next {
  margin-bottom: -1px;
  &:not(.message-out) {
    border-bottom-left-radius: 5px;
  }
  &.message-out {
    border-bottom-right-radius: 5px;
  }
}

.message-stick-to-prev:not(:first-child) {
  &:not(.message-out) {
    border-top-left-radius: 5px;
  }
  &.message-out {
    border-top-right-radius: 5px;
  }
}

.message-type-date,
.message-type-service,
.messages_empty_placeholder {
  background: rgba(0, 0, 0, .3);
  color: #fff;
  margin: 4px auto;
  padding: 0 7px;
  height: 24px;
  box-sizing: border-box;
  line-height: 24px;
  border-radius: 14px;
  font-weight: 500;
}

.message-type-date {
  position: sticky;
  top: 20px;
  z-index: 10;
}

.message-type-unread {
  margin-left: -100%;
  width: 300%;
  text-align: center;
}

.message-type-sticker,
.message-type-emoji,
.message-type-round {
  background: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
}

.message-type-emoji {
  overflow: visible;
  padding-bottom: 10px;
  &.message-out {
    padding-bottom: 17px;
  }
}

.message_author {
  font-weight: 500;
  &::after {
    content: '\A';
    white-space: pre;
  }
}

.message_content {
  width: 100%;
  line-height: 1.3;
  pre {
    white-space: pre-wrap;
  }
}

.message_text {
  .message-type-emoji & {
    font-size: 50px;
    line-height: 50px;
  }
}

.message_media_thumb {
  margin: -6px -10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  .message_author + & {
    margin-top: 5px;
  }
  .message_reply_to_wrap + & {
    margin-top: 0;
  }
  .webpage_content & {
    margin: 0 0 5px;
    border-radius: 4px;
    &:last-child {
      margin: 0;
    }
  }
  .message_forwarded_content & {
    margin: 0;
    border-radius: 4px;
  }
}
.message_media_thumb-photo,
.message_media_thumb-video,
.message_media_thumb-gif {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}
.message_media_thumb-round {
  overflow: visible;
  cursor: pointer;
}

.message_media_thumb_play {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-left: -27px;
  margin-top: -27px;
  background: rgba(0, 0, 0, .6) svg('../icons/largeplay_svg.svg', (path: (fill: white))) no-repeat center;
  border-radius: 50%;
  transition: opacity .2s;
  &:hover {
    opacity: 0.85;
  }
  .message_media_thumb-loading & {
    display: none;
  }
  .ios_safari & {
    transform: translateZ(0);
  }
}
.message_media_thumb_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  .message_media_thumb-round & {
    border-radius: 50%;
  }
}
.message_media_thumb_image-blurred {
  filter: blur(10px);
}

.message_media_thumb_round_video {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.message_media_thumb_round_progress_svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.message_media_thumb_round_progress_circle {
  --progress-value: 0;
  fill: none;
  stroke: rgba(255, 255, 255, 0.4);
  stroke-width: 0.8;
  stroke-linecap: round;
  stroke-dasharray: calc(var(--progress-value) * 135), 135;
}

.message_media_caption {
  margin: 20px -10px 0;
  padding: 0 10px;
  box-sizing: border-box;
  .message_forwarded_content & {
    margin: 3px 0 0;
    padding: 0;
  }
}

.message_media_duration {
  position: absolute;
  z-index: 2;
  left: 4px;
  top: 3px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff !important;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 12px;
  .message_media_thumb_round_video[muted] ~ & {
    padding-right: 28px;
    background-image: svg('../icons/muted.svg', (path: (fill: #fff)));
    background-repeat: no-repeat;
    background-position: right 7px bottom 50%;
  }
}

.message_date {
  display: flex;
  font-size: 12px;
  color: #A1AAB2;
  float: right;
  position: relative;
  right: -4px;
  bottom: -4px;
  margin-left: 6px;
  white-space: nowrap;
  cursor: default;
  .message-out & {
    color: #65AB5A;
  }
  .document + & {
    margin-top: -13px;
  }
  .message_media_thumb + &,
  .message-type-emoji & {
    position: absolute;
    z-index: 2;
    right: 4px;
    bottom: 3px;
    background: rgba(0,0,0,.3);
    color: #fff !important;
    padding: 1px 5px;
    border-radius: 10px;
  }
  .message-type-emoji:not(.message-out) & {
    bottom: 0;
    left: 100%;
    right: auto;
    margin-left: -15px;
  }
  .message-type-emoji.message-out & {
    bottom: 0;
  }
  .ios_safari .message_media_thumb + & {
    transform: translateZ(0);
  }
}

.message_views {
  margin-right: 8px;
  &::after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: svg('../icons/eye1_svg.svg', (path: (fill: #A1AAB2))) no-repeat center;
    background-size: contain;
    margin: -1px 0 -4px 3px;
    .message-out & {
      background-image: svg('../icons/eye1_svg.svg', (path: (fill: $primary_green_color)));
    }
    .message_media_thumb + .message_date &,
    .message-type-emoji & {
      background-image: svg('../icons/eye1_svg.svg', (path: (fill: white)));
    }
  }
}

.message_status {
  width: 19px;
  height: 14px;
  margin-left: 1px;
  position: relative;
  bottom: -1px;
  background: no-repeat center;
}
.message_status-sent {
  background-image: svg('../icons/1check_svg.svg', (path: (fill: $primary_green_color)));
  .message_media_thumb + .message_date &,
  .message-type-emoji & {
    background-image: svg('../icons/1check_svg.svg', (path: (fill: white)));
  }
}
.message_status-read {
  background-image: svg('../icons/2checks_svg.svg', (path: (fill: $primary_green_color)));
  .message_media_thumb + .message_date &,
  .message-type-emoji & {
    background-image: svg('../icons/2checks_svg.svg', (path: (fill: white)));
  }
}

.webpage_content,
.message_forwarded_content,
.message_reply_to_content {
  position: relative;
  border-left: 2px solid $primary_blue_color;
  padding-left: 8px;
  margin-top: 5px;
  .message-out & {
    border-color: $primary_green_color;
  }
}

.wepbage_site_name {
  font-weight: 500;
}

.wepbage_title {
  font-weight: 500;
  margin-top: 3px;
}

.webpage_description {
  margin-top: 3px;
}

.message_reply_to_wrap {
  .message-type-sticker &,
  .message-type-emoji & {
    position: absolute;
    left: 100%;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid $border_gray_color;
    border-radius: 10px;
    max-width: 200px;
  }
  .message-type-sticker.message-out &,
  .message-type-emoji.message-out & {
    left: auto;
    right: 100%;
  }
  .message-has-thumb:not(.message-type-sticker) & {
    display: flex;
  }
}

.message_reply_to_content {
  margin-bottom: 5px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, .05);
  }
  .message-type-sticker.message-out &,
  .message-type-emoji.message-out & {
    border-color: $primary_blue_color;
  }
  .message-has-thumb:not(.message-type-sticker) & {
    width: 0;
    flex-grow: 1;
  }
}

.message_reply_to_author {
  font-size: 13px;
  font-weight: 500;
  color: $primary_blue_color;
  .message-out & {
    color: $primary_green_color;
  }
  .message-type-sticker.message-out &,
  .message-type-emoji.message-out & {
    color: $primary_blue_color;
  }
}

.message_reply_to_text {
  font-size: 13px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.message_forwarded_header {
  font-size: 13px;
  font-weight: 500;
  color: $primary_blue_color;
  margin-bottom: 5px;
  .message-out & {
    color: $primary_green_color;
  }
}

.message_forwarded_content {
  padding-left: 8px;
  border-left: 2px solid $primary_blue_color;
  .message-out & {
    border-left-color: $primary_green_color;
  }
}

.message_forwarded_author {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}



//
//.messages_placeholder {
//  position: absolute;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  padding-top: 165px;
//  background: svg('../icons/chatsplaceholder_svg.svg', (path: (fill: white))) no-repeat top center;
//  filter: drop-shadow(0 2px 3px rgba(0,0,0,.15))
//}
//
//.messages_placeholder_title {
//  color: #fff;
//  font-size: 24px;
//  text-align: center;
//}
//
//.messages_placeholder_actions {
//  display: flex;
//  justify-content: space-between;
//  width: 350px;
//  margin-top: 45px;
//}
//
//.messages_placeholder_action {
//  width: 72px;
//  height: 72px;
//  border-radius: 50%;
//  background: #fff no-repeat center;
//  color: #fff;
//  &:hover {
//    background-color: #5DA3EF;
//  }
//}
//.messages_placeholder_action_label {
//  position: absolute;
//  left: 50%;
//  text-align: center;
//  transform: translateX(-50%);
//  padding-top: 45px;
//  font-size: 14px;
//}
//.messages_placeholder_action-private {
//  background-image: svg('../icons/newprivate_svg.svg', (path: (fill: $icon_mediumgray_color)));
//  &:hover {
//    background-image: svg('../icons/newprivate_svg.svg', (path: (fill: white)));
//  }
//}
//.messages_placeholder_action-group {
//  background-image: svg('../icons/newgroup_svg.svg', (path: (fill: $icon_mediumgray_color)));
//  &:hover {
//    background-image: svg('../icons/newgroup_svg.svg', (path: (fill: white)));
//  }
//}
//.messages_placeholder_action-channel {
//  background-image: svg('../icons/newchannel_svg.svg', (path: (fill: $icon_mediumgray_color)));
//  &:hover {
//    background-image: svg('../icons/newchannel_svg.svg', (path: (fill: white)));
//  }
//}

.messages_footer {
  //padding: 0 0 20px;
  transition: transform .2s;
}
.messages_footer_emoji-shown {
  .mobile_view & {
    margin-bottom: 280px;
  }
}
.messages_footer_search-shown {
  .mobile_view & {
    transform: translateX(-100%);
  }
}

.message_media_progress {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-left: -27px;
  margin-top: -27px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5) svg('../icons/close_svg.svg', (path: (fill: white))) no-repeat center;
  transition: opacity .2s;
  &:hover {
    opacity: 0.85;
  }
}

.message_media_progress_svg {
  animation: spin 1s infinite linear;
}

.message_media_progress_path {
  --progress-value: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: calc(2 + 98 * var(--progress-value)), 100;
  transition: stroke-dasharray 0.4s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.message_menu_item  {
  padding-left: 73px;
  padding-right: 30px;
  background: no-repeat 16px center;
}
.message_menu_item-reply {
  background-image: svg('../icons/reply_svg.svg', (path: (fill: $secondary_gray_color)));
}
.message_menu_item-copy {
  background-image: svg('../icons/copy_svg.svg', (path: (fill: $secondary_gray_color)));
}
.message_menu_item-forward {
  background-image: svg('../icons/forward_svg.svg', (path: (fill: $secondary_gray_color)));
}
.message_menu_item-delete {
  background-image: svg('../icons/delete_svg.svg', (path: (fill: $error_red_color)));
  color: $error_red_color;
}
