.messages_form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px 20px;
  box-sizing: border-box;
  .mobile_view & {
    padding: 0 8px 8px;
  }
}

.messages_form_input {
  display: block;
  border: none;
  outline: none;
  resize: none;
  font: inherit;
  width: 100%;
  height: 54px;
  max-height: 216px;
  border-radius: 10px 10px 0 10px;
  line-height: 18px;
  padding: 18px 56px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  .mobile_view & {
    height: 46px;
    padding: 14px 56px;
  }
}

.messages_form_input::placeholder {
  color: #A3ACB3;
}

.messages_form_input_wrap {
  width: 100%;
  position: relative;
  z-index: 2;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: svg('../icons/bubble_tail_right.svg', (path: (fill: white))) no-repeat center;
    width: 7px;
    height: 17px;
    margin-right: -7px;
  }
}

.messages_form_emoji_button {
  position: absolute;
  border: none;
  outline: none;
  padding: 0;
  width: 40px;
  height: 40px;
  left: 7px;
  bottom: 7px;
  cursor: pointer;
  background: svg('../icons/smile_svg.svg', (path: (fill: $icon_mediumgray_color))) no-repeat center;
  .mobile_view & {
    bottom: 3px;
  }
  touch-action: manipulation;
}

.messages_form_emoji_button-active {
  background: svg('../icons/smile_svg.svg', (path: (fill: $icon_blue_color)))  no-repeat center;
  .mobile_view & {
    background: svg('../icons/keyboard@1x.svg', (path: (fill: $icon_mediumgray_color)))  no-repeat center;
  }
}

.messages_form_media_button {
  position: absolute;
  border: none;
  outline: none;
  padding: 0;
  width: 40px;
  height: 40px;
  right: 7px;
  bottom: 7px;
  cursor: pointer;
  background: svg('../icons/attach_svg.svg', (path: (fill: $icon_mediumgray_color))) no-repeat center;
  .mobile_view & {
    bottom: 3px;
  }
  .messages_form_voice_timer ~ & {
    display: none;
  }
}

.messages_form_media_button_wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

.messages_form_media_button-active {
  background: svg('../icons/attach_svg.svg', (path: (fill: $icon_blue_color))) no-repeat center;
}

.messages_form_voice_timer {
  position: absolute;
  right: 22px;
  top: 0;
  bottom: 0;
  width: 80px;
  display: flex;
  align-items: center;
  &:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: auto;
    border-radius: 50%;
    background: #D7483F;
    animation: voice_rec_icon_animation 1.5s infinite;
  }
}

@keyframes voice_rec_icon_animation {
  50% {
    opacity: 0.5;
  }
}

.messages_form_submit_button,
.messages_form_cancel_button {
  --main-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  --highlight-radius: 0px;
  --button-size: 54px;
  border: none;
  outline: none;
  padding: 0;
  flex-shrink: 0;
  width: var(--button-size);
  height: var(--button-size);
  margin-left: 9px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--main-box-shadow), 0 0 0 var(--highlight-radius) rgba(0, 0, 0, .15);
  background: #fff no-repeat center;
  .mobile_view & {
    --button-size: 46px;
  }
}

.messages_form_submit_button {
  background-image: svg('../icons/microphone2_svg.svg', (path: (fill: $icon_mediumgray_color)));
}
.messages_form_submit_button-send {
  background-image: svg('../icons/send_svg.svg', (path: (fill: $icon_blue_color)));
}

.messages_form_cancel_button {
  position: relative;
  z-index: 1;
  background-image: svg('../icons/delete_svg.svg', (path: (fill: $error_red_color)));
  transition: .2s;
  &[hidden] {
    visibility: hidden;
    opacity: 0;
    margin-left: calc(var(--button-size) * -1);
  }
}
.messages_form_cancel_button-active {
  background-color: $error_red_color;
  background-image: svg('../icons/delete_svg.svg', (path: (fill: white)));
}

.messages_form_media_menu {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 64px;
  display: block;
  opacity: 1;
  transition: transform .2s, opacity .2s, visibility .2s;
  transform-origin: calc(100% - 29px) calc(100% + 35px);
  will-change: transform;
}
.messages_form_media_menu[hidden] {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.messages_form_media_menu_item {
  padding-left: 72px;
  padding-right: 38px;
  background: no-repeat 16px center;
}

.messages_form_media_menu_item-media {
  background-image: svg('../icons/photo_svg.svg', (path: (fill: $icon_gray_color)));
}

.messages_form_media_menu_item-file {
  background-image: svg('../icons/document_svg.svg', (path: (fill: $icon_gray_color)));
}

.messages_form_media_menu_item-poll {
  background-image: svg('../icons/poll_svg.svg', (path: (fill: $icon_gray_color)));
}
