@import "vars";

.right_sidebar {
  width: 420px;
  margin-right: -420px;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 10;
  height: 100vh; // safari
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform .2s, visibility .2s, width .2s step-start;
  &[hidden] {
    display: block;
    transform: none;
    visibility: hidden;
    transition: transform .2s, visibility .2s, width .2s step-end;
  }
  .mobile_view & {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    margin-right: 0;
    transform: none;
    &[hidden] {
      width: 0;
      visibility: hidden;
      transform: translateX(100%);
    }
  }
}

.chat_info_scroll_wrap {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  transition: box-shadow .2s;
  &._scroll_top {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

.chat_info_desc {
  margin-top: 25px;
  padding: 8px;
  padding-right: 32px;
}

.chat_info_desc_row {
  display: flex;
}

.chat_info_desc_checkbox + .chat_info_desc_row_block {
  cursor: pointer;
}

.chat_info_desc_icon {
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;

}

.chat_info_desc_checkbox,
.chat_info_desc_icon{
  min-width: 48px;
}

.chat_info_desc_row {
  margin-bottom: 40px;
}

.chat_info_desc_row_block {
  padding-left: 24px;
}

.chat_info_desc_row_text {
  font-size: 15px;
}

.chat_info_desc_row_subtitle {
  color: #707579;
  font-size: 13px;
  margin-top: 3px;
  text-transform:capitalize;
}

.chat_info_desc_icon-bio {
  background-image: svg('../icons/info_svg.svg', (path: (fill: $icon_gray_color)));
}

.chat_info_desc_icon-phone {
  background-image: svg('../icons/phone_svg.svg', (path: (fill: $icon_gray_color)));
}

.chat_info_desc_icon-username {
  background-image: svg('../icons/username_svg.svg', (path: (fill: $icon_gray_color)));
}

.chat_info_shared_media_container {
  min-height: 100%;
  transform: translateZ(0);
}

.chat_info_shared_media_nav {
  background: #fff;
  position: sticky;
  top: -1px;
  z-index: 1;
}

.chat_info_shared_media_nav_item {
  &:first-child {
    border-top-left-radius: 0;
  }
  &:last-child {
    border-top-right-radius: 0;
  }
}


.chat_info_shared_wrap {
  padding: 6px;
  min-height: 132px;
}

.chat_info_shared_media {
  display: grid;
}

.chat_info_shared_media {
  grid-template-columns: repeat(auto-fill, min(calc((100% - 8px) / 3), 132px));
  grid-gap: 4px;
  justify-content: space-between;
}

.chat_info_shared-empty {
  display: block;
}

.chat_info_shared[hidden] {
  display: none;
}

.chat_info_shared_media_item {
  background: #eee no-repeat center;
  background-size: cover;
  cursor: pointer;
  max-height: 132px;
  max-width: 132px;
  padding-top: min(132px, 100%);
  position: relative;
}

.chat_info_shared_media_item_duration {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 2px 5px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}

.chat_info_shared_docs_item,
.chat_info_shared_link_item {
  display: flex;
  margin: 12px;
  overflow: hidden;
  .mobile_view & {
    margin: 12px 4px;
  }
}

.chat_info_shared_docs_item {
  height: 48px;
}

.chat_info_shared_link_item {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.chat_info_shared_docs_item:hover .chat_info_shared_docs_item_icon,
.chat_info_shared_docs_item_icon-loading {
  color: transparent;
  &::after {
    background: no-repeat center;
    border-radius: 8px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &.chat_info_shared_docs_item_icon-thumb::after {
    background-color: rgba(0, 0, 0, .5);
  }
}

.chat_info_shared_docs_item_icon-loading {
  &::after {
    background-image: svg('../icons/close_svg.svg', (path: (fill: white))) !important;
  }
}

.chat_info_shared_docs_item:hover .chat_info_shared_docs_item_icon {
  &::after {
    background-image: svg('../icons/download_svg.svg', (path: (fill: white)));
  }
  &::before {
    display: none; // hide doc folded corner
  }
}

.chat_info_shared_docs_item_icon,
.chat_info_shared_link_item_image {
  align-items: flex-end;
  background-size: cover;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
  margin-right: 12px;
  //padding-bottom: 8px;
  line-height: 36px;
  position: relative;
  text-align: center;
  width: 48px;
}

.chat_info_shared_docs_item_icon {
  align-items: flex-end;
  color: #fff;
  background: #5D9D52 no-repeat center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  .document_icon_progress_svg {
    margin: 5px;
  }
  .document_icon_progress_path {
    --progress-value: 0;
    stroke-width: 1.5px;
    stroke-dasharray: calc(2 + 98 * var(--progress-value)), 100;
    transition: stroke-dasharray 0.4s;
  }
}
.chat_info_shared_docs_item_icon-loading {
  display: block;
  font-size: 0;
  //background-image: svg('../icons/close_svg.svg', (path: (fill: white)));
}

.chat_info_shared_docs_item_icon-doc {
  background-color: #64A2E3;
}

.chat_info_shared_docs_item_icon-pdf {
  background-color: #CE4C47;
}

.chat_info_shared_docs_item_icon-zip {
  background-color: #ED9035;
}

.chat_info_shared_link_item_image {
  background-color: rgba(0, 0, 0, .1);
  background-position: center;
  background-repeat: no-repeat;
}

.chat_info_shared_link_item_image::before {
  content: '\1F517'; // 🔗
  font-size: 22px;
  left: 0;
  line-height: 48px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.chat_info_shared_docs_item_icon-doc::before,
.chat_info_shared_docs_item_icon-pdf::before {
  background: #B9191A;
  border-color: #fff #fff transparent transparent;
  border-radius: 0 0 0 5px;
  border-style: solid;
  border-width: 8px;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.chat_info_shared_docs_item_icon-doc::before {
  background-color: #417CBE;
}

.chat_info_shared_docs_item_icon-pdf::before {
  background-color: #AA2C25;
}

.chat_info_shared_docs_item_icon-thumb {
  background-position: center;
  background-size: cover;
  color: transparent;
}

.chat_info_shared_docs_item_icon-thumb::before {
  border: 0;
}

.chat_info_shared_docs_item_info,
.chat_info_shared_link_item_info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.chat_info_shared_docs_item_name {
  font-size: 15px;
  margin-bottom: 2px;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
}

.chat_info_shared_docs_item_desc {
  color: #707579;
  font-size: 13px;
}

.chat_info_shared_link_item_title,
.chat_info_shared_link_item_desc {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat_info_shared_link_item_title {
  color: #000;
  font-size: 15px;
}

.chat_info_shared_link_item_desc {
  color: #717579;
  font-size: 13px;
  margin: 2px 0;
}

.chat_info_shared_link_item_url {
  color: #64A2E3;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
}

.chat_info_shared_audio_item {
  margin: 10px;
  .mobile_view & {
    margin: 10px 4px;
  }
  .document_filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .document_performer,
  .document_duration {
    color: $secondary_gray_color;
  }
}

.chat_info_shared_empty {
  color: $secondary_gray_color;
  height: 150px;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.messages_search_input {
  margin-left: 64px;
}

.messages_search_results_header {
  padding: 8px 16px;
  color: #717579;
  font-weight: 500;
}

.messages_search_results_list {
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  &._scroll_top {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

.messages_search_footer {
  background: #fff;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, .1);
  display: flex;
  pointer-events: all;
  position: absolute;
  align-items: center;
  left: 0;
  right: 0;
  height: 46px;
  padding: 0 18px;
}

.messages_search_footer_info {
  margin-right: auto;
  color: $secondary_gray_color;
  font-size: 16px;
}

.messages_search_footer_button {
  width: 24px;
  height: 24px;
  background: no-repeat center;
  font-size: 0;
  margin-left: 12px;
  transition: opacity .2s;
  &:disabled,
  &:active {
    opacity: 0.3;
  }
}

.messages_search_footer_button-up {
  background: svg('../icons/up_svg.svg', (fill: (path: $secondary_gray_color)));
}

.messages_search_footer_button-down {
  background: svg('../icons/down_svg.svg', (fill: (path: $secondary_gray_color)));
}
