.settings_menu {
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.settings_menu_header {
  display: flex;
}

.settings_extra_menu_button {
  background-image: url('../icons/more_svg_gray.svg');
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.settings_extra_menu_item-log_out {
  background-image: url('../icons/logout_svg_gray.svg');
  background-position: 18px center;
  background-repeat: no-repeat;
  background-size: 22px;
  padding-left: 72px;
}

.settings_menu_title {
  color: #050505;
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  padding-left: 72px;
}

.settings_extra_menu_list {
  width: 172px;
}

.settings_menu_user_info {
  text-align: center;
}

.settings_menu_user_name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 15px;
}

.settings_menu_user_phone {
  color: #777B7F;
  font-size: 12px;
}

.settings_menu_user_photo {
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  height: 120px;
  display: inline-block;
  width: 120px;
}

.settings_main_menu_item-edit {
  background-image: url('../icons/edit_svg_gray.svg');
}

.settings_main_menu_item-general {
  background-image: url('../icons/settings2_svg_gray.svg');
}

.settings_main_menu_item-notifications {
  background-image: url('../icons/unmute_svg_gray.svg');
}

.settings_main_menu_item-privacy {
  background-image: url('../icons/lock_svg_gray.svg');
}

.settings_main_menu_item-language {
  background-image: url('../icons/language_svg_gray.svg');
}
