.sidebar_header {
  display: flex;
  flex-shrink: 0;
  padding: 8px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar_header_title {
  color: #050505;
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 72px;
}

.sidebar_back_button,
.sidebar_close_button {
  position: absolute;
}

.sidebar_back_button {
  background: svg('../icons/back_svg.svg', (path: (fill: $icon_gray_color))) no-repeat center;
  z-index: 10;
}

.sidebar_close_button {
  background: svg('../icons/close_svg.svg', (path: (fill: $icon_gray_color))) no-repeat center;
  z-index: 5;
}

.sidebar_extra_menu_button {
  background: svg('../icons/more_svg.svg', (path: (fill: $icon_gray_color))) no-repeat center;
  flex-shrink: 0;
  margin-right: 5px;
}

.sidebar_back_button[hidden],
.sidebar_close_button[hidden],
.sidebar_extra_menu_button[hidden] {
  display: none;
}

.sidebar_search_input {
  background-color: #F4F4F5;
  background-image: svg('../icons/search_svg.svg', (path: (fill: $icon_lightgray_color)));
  background-position: 12px center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 50px;
  display: inline-block;
  flex-basis: 100%;
  font: inherit;
  font-size: 15px;
  height: 40px;
  outline: none;
  padding-left: 42px;
  margin: 0 12px 0 14px;
  box-sizing: border-box;
  &::placeholder {
    color: #8E969B;
  }
  &:focus {
    border: 2px solid #5FA1E3;
    background-image: svg('../icons/search_svg.svg', (path: (fill: $icon_blue_color)));
  }
  .mobile_view & {
    margin-right: 4px;
  }
}

.sidebar_user_info {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar_user_info .photo_empty_placeholder {
  font-size: 60px;
}

.sidebar_user_photo {
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  height: 120px;
  display: inline-block;
  width: 120px;
}

.sidebar_user_photo .peer_photo_placeholder {
  font-size: 60px;
}

.sidebar_user_name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 15px;
}

.sidebar_user_desc {
  color: #777B7F;
  font-size: 13px;
}
